{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <i class="nav-icon fas fa-scroll"></i>
        {% if object %}
          <b>Create List</b>
        {% else %}
          <b>Exam Form</b>
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="row">
            <div class="col-6">
              <input type="submit" value="submit" class="btn btn-primary">
              <a href="{% url 'exams:list' %}" class="btn btn-danger">Cancel</a>
            </div>
            <div class="col-6 text-right">
              {% if object %}
                <a href="{% url 'exams:add_question' exam.pk %}" class="btn btn-warning">
                  Update Question
                </a>
              {% else %}
                <input type="submit" name="next" value="Add Question" class="btn btn-warning">
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
