{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="row mb-3">
  <div class="col-12">
      <a href="#" class="btn btn-outline-primary" onclick="window.history.back()">
        <i class="fas fa-angle-left fa-xs"></i>
        Back
      </a>
  </div>
</div>

<div id="exam-form"></div>
{% endblock content %}

{% block script %}
<script>
  const buttons = document.getElementsByClassName("back-button");
  for (button of buttons) {
    button.href = button.href + window.location.pathname
  }
</script>
{% render_bundle 'exam_form' %}
{% endblock script %}
