{% load render_bundle from webpack_loader %}
{% load cache %}

{% cache 86400 authpagestop %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Qbank</title>
</head>

<body class="app flex-row align-items-center">
<style>
  label {
    display: none;
  }
</style>
  {% render_bundle 'runtime' %}
  {% render_bundle 'main' %}
  {% render_bundle 'vendor' %}
  {% render_bundle 'main_css' %}
{% endcache %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card-group">
        <div class="card p-4">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
  </div>
</div>


  {% if messages %}
      {% for message in messages %}
        <script>
          toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
          }
          toastr['{{ message.tags }}']('{{ message }}')
        </script>
      {% endfor %}
  {% endif %}
{% cache 86400 authpagebottom %}
</body>
</html>
{% endcache %}
