{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
          <i class="nav-icon fas fa-edit"></i>
          {% if object %}
            <b>Update Choice</b>
          {% else %}
            <b>Create Choice</b>
          {% endif %}
      </div>
      <div class="card-body">
        <form action="." method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="row">
            <div class="col-12">
              <input class="btn btn-primary" type="submit" value="Submit">
              <a href="#" class="btn btn-warning" onclick="window.history.back()">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="//cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
{% endblock content %}
