{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-12 text-right">
    <a href="{% url 'questions:create' %}" class="btn btn-outline-primary">
      <i class="fas fa-plus fa-xs"></i>
      Create Question
    </a>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-12">
    <div class="card {% if filter.form.errors %}text-white bg-danger{% endif %}">
      <div class="card-header"><b>Search Filters</b>
        <div class="card-header-actions">
          <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseExample">
              <i class="nav-icon fas fa-search-plus"></i>
          </a>
        </div>
      </div>
      <div class="collapse" id="collapseExample">
        <div class="card-body">
          <form method="GET">
            {{ filter.form | crispy }}
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Search</button>
              <a href="{% url 'questions:list' %}" class="btn btn-danger">Clear filters</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-2">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <b>Filter by courses</b>
          </div>
          <div class="card-body">
            {% for course in courses %}
              <a
                class="badge badge-secondary"
                href="{% url 'questions:list' %}?course__name__icontains={{ course.name }}"
              >
                {{ course.name }} - {{ course.code }}
              </a>
              <br>
            {% endfor %}
            <br><br>
            <a href="{% url 'questions:list' %}" class="btn btn-outline-warning">
              clear filter
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <b>Filter by tags</b>
          </div>
          <div class="card-body">
            {% for tag in tags %}
              <a
                class="badge badge-secondary"
                href="{% url 'questions:list' %}?tags__name__icontains={{ tag.name }}"
              >
                {{ tag.name }}
              </a>
              <br>
            {% endfor %}
            <br><br>
            <a href="{% url 'questions:list' %}" class="btn btn-outline-warning">
              clear filter
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <b>Filter by topic</b>
          </div>
          <div class="card-body">
            {% for topic in topics %}
              <a
                class="badge badge-secondary"
                href="{% url 'questions:list' %}?topic__icontains={{ topic }}"
              >
                {{ topic }}
              </a>
              <br>
            {% endfor %}
            <br><br>
            <a href="{% url 'questions:list' %}" class="btn btn-outline-warning">
              clear filter
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="card {% if filter.form.errors %}text-white bg-danger{% endif %}">
      <div class="card-body">
        <form method="GET">
          <div class="input-group">
            <input
              type="text"
              name="{{ filter.form.question__icontains.name }}"
              value="{% if filter.form.question__icontains.value %}{{ filter.form.question__icontains.value }}{% endif %}"
              class="form-control"
              placeholder="Search question"
            />
            <span class="input-group-append">
              <button type="submit" class="btn btn-outline-primary">
                <i class="fas fa-search"></i>
              </button>
              <a href="{% url 'questions:list' %}" class="btn btn-outline-danger">
                <i class="fas fa-times"></i>
              </a>
            </span>
          </div>
        </form>
      </div>
    </div>
    {% for question in question_list %}
    <div class="card mt-3">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <b>
              {{ question.created_by }}
              | {{ question.created_at }}
            </b>
          </div>
          <div class="col-6 text-right">
            <a href="{% url 'questions:detail' question.pk %}" class="btn btn-outline-primary">
              More
              <i class="fas fa-angle-right fa-xs"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        {{ question.question|safe }}
        <br>
        {% for tag in question.tags.all %}
        <a
          class="badge badge-secondary"
          href="{% url 'questions:list' %}?tags__name__icontains={{ tag.name }}"
        >
          {{ tag.name }}
        </a>
        {% endfor %}
      </div>
    </div>
    {% empty %}
    <div class="clearfix text-center">
      <h4 class="pt-3">No question found</h4>
      <p class="text-muted">
        You can create one
        <a href="{% url 'questions:create' %}" class="btn-primary">here</a>
      </p>
    </div>
    {% endfor %}
  </div>
</div>

{% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">Next</a>
        </li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
{% endblock content %}
