{% extends 'base.html' %}

{% block content %}
<div class="row mb-3">
  <div class="col-6">
    <a href="{% url 'questions:list' %}" class="btn btn-outline-primary">
      <i class="fas fa-angle-left fa-xs"></i>
      Back
    </a>
  </div>
  <div class="col-6 text-right">
    <a href="{% url 'questions:update' question.pk %}" class="btn btn-primary">
      Edit
    </a>
    <a href="{% url 'questions:create' %}?question={{ question.pk }}" class="btn btn-outline-primary">
      Copy question
    </a>
    <a
      href="#"
      onclick="document.getElementById('delete-{{ question.pk }}').submit()"
      class="btn btn-danger"
    >
        Delete
    </a>
    {% if perms.analyses.view_analysis %}
      {% if question.analysis %}
        <a href="{% url 'analyses:update' question.pk question.analysis.pk %}" class="btn btn-success">Update Analysis</a>
      {% else %}
        <a href="{% url 'analyses:create' question.pk %}" class="btn btn-success">Create Analysis</a>
      {% endif %}
    {% endif %}

    <div class="btn-group">
      <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
        Comments
        {% if unresolved_comment %}
          <span class="badge badge-light badge-pill" style="position: static;">
            {{ unresolved_comment }}
          </span>
        {% endif %}
      </button>
      <div
        class="dropdown-menu"
        x-placement="bottom-start"
        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);"
      >
        <a class="dropdown-item" href="{% url 'comments:question_list' question.pk %}?is_resolved=false">
            Unresolved comments
            <span class="badge badge-light badge-pill" style="position: static;">
              {{ unresolved_comment }}
            </span>
        </a>
        <a class="dropdown-item" href="{% url 'comments:question_list' question.pk %}?is_resolved=unknown">All Comment</a>
        <a class="dropdown-item" href="{% url 'comments:question_create' question.pk %}">Create Comment</a>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12"><b>{{ question.created_by }} | {{ question.created_at }}</b></div>
        </div>
      </div>
      <div class="card-body">
        {{ question.question|safe }}
      </div>
      <hr>
      <div class="card-body">
        {{ question.get_display_schema_choices|safe }}
      </div>
    </div>
  </div>
</div>

<form
  action="{% url 'questions:delete' question.pk %}"
  id="delete-{{ question.pk }}"
  method="post"
  style="display:none"
>
  {% csrf_token %}
</form>
{% endblock content %}
