{% extends 'base.html' %}

{% block content %}
<div class="row mb-3">
  <div class="col-12 text-right">
    <a href="{% url 'invites:create' %}" class="btn btn-primary">Create Invitation</a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <i class="nav-icon fas fa-mail-bulk"></i>
        <b>Invitation List</b>
      </div>
      <div class="card-body">
        {% if object_list %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for invite in invite_list %}
                <tr>
                  <th>{{ invite.username }}</th>
                  <th>{{ invite.email }}</th>
                  <th>{{ invite.created_by }}</th>
                  <th>{{ invite.created_at }}</th>
                  <th>
                    <a
                      href="#"
                      class="btn btn-danger"
                      onclick="document.getElementById('delete-{{ forloop.counter }}').submit()"
                    >
                      Delete
                    </a>
                  </th>
                </tr>
                <form
                  action="{% url 'invites:delete' invite.pk %}"
                  id="delete-{{ forloop.counter }}"
                  method="post"
                  style="display:none"
                >
                {% csrf_token %}
                </form>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="clearfix text-center">
            <h4 class="pt-3">No invitation found</h4>
            <p class="text-muted">
              You can create one
              <a href="{% url 'invites:create' %}" class="btn-primary">here</a>
            </p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">Next</a>
        </li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
{% endblock content %}
