<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">

      {% if perms.subjects.view_subjects %}
      <li class="nav-item">
        <a href="{% url 'subjects:list' %}" class="nav-link">
          <i class="nav-icon fas fa-book-medical"></i> Courses
        </a>
      </li>
      {% endif %}

      {% if perms.questions.view_question %}
      <li class="nav-item">
        <a href="{% url 'questions:list' %}" class="nav-link">
          <i class="nav-icon fas fa-edit"></i> Questions
        </a>
      </li>
      {% endif %}

      {% if perms.questions.view_question %}
      <li class="nav-item">
        <a href="{% url 'exams:list' %}" class="nav-link">
          <i class="nav-icon fas fa-scroll"></i> Exams
        </a>
      </li>
      {% endif %}

      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a href="{% url 'users:list' %}" class="nav-link">
          <i class="nav-icon fas fa-users"></i>
          User Management
        </a>
      </li>
      {% endif %}

      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a href="{% url 'invites:list' %}" class="nav-link">
          <i class="nav-icon fas fa-list"></i>
          Invitations
        </a>
      </li>
      {% endif %}

    </ul>
  </nav>
</div>
