<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">

      {% if perms.users.view_user %}
      <li class="nav-item">
        <a href="{% url 'users:list' %}" class="nav-link">
          <i class="nav-icon fas fa-users"></i>
          User Management
        </a>
      </li>
      {% endif %}

      {% if perms.invites.view_invite %}
      <li class="nav-item">
        <a href="{% url 'invites:list' %}" class="nav-link">
          <i class="nav-icon fas fa-list"></i>
          Invitations
        </a>
      </li>
      {% endif %}

      {% if perms.subjects.view_subjects %}
      <li class="nav-item">
        <a href="{% url 'subjects:list' %}" class="nav-link">
          <i class="nav-icon fas fa-book-medical"></i> Subjects
        </a>
      </li>
      {% endif %}

    </ul>
  </nav>
</div>
