@import "~@coreui/coreui-pro/scss/coreui";
@import "~toastr/toastr";

.django-ckeditor-widget{
  width: 100% !important;
  .cke {
    width: 100% !important;
  }
}

#cke_editor1 {
  width: 100% !important;
}

#div_id_choices {
  display: none;
}