{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mb-3">
  <div class="col-12 text-right">
    <a href="{% url 'users:specialty_create' %}" class="btn btn-outline-primary">
      <i class="fas fa-plus fa-xs"></i>
      Create Specialty
    </a>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <i class="nav-icon fas fa-bolt"></i>
        <b>Specialty List</b>
      </div>
      <div class="card-body table-responsive">
        <form method="GET" class="mb-3">
          <div class="input-group">
            <input
              type="text"
              name="{{ filter.form.name__icontains.name }}"
              value="{% if filter.form.name__icontains.value %}{{ filter.form.name__icontains.value }}{% endif %}"
              class="form-control"
              placeholder="Search specialty name"
            />
            <span class="input-group-append">
              <button type="submit" class="btn btn-outline-primary">
                <i class="fas fa-search"></i>
              </button>
              <a href="{% url 'users:specialty_list' %}" class="btn btn-outline-danger">
                <i class="fas fa-times"></i>
              </a>
            </span>
          </div>
        </form>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for specialty in specialty_list %}
            <tr>
              <td>
                <a href="{{ specialty.get_absolute_url }}">
                  {{ specialty.name }}
                </a>
              </td>
              <td>{{ specialty.description }}</td>
              <td>
                <a
                  href="#"
                  class="btn btn-outline-danger"
                  onclick="document.getElementById('delete-{{ forloop.counter }}').submit()"
                >
                  Delete
                </a>
              </td>
            </tr>
            <form
              action="{% url 'users:specialty_delete' specialty.pk %}"
              id="delete-{{ forloop.counter }}"
              method="post"
              style="display:none"
            >
            {% csrf_token %}
            </form>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">Next</a>
        </li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
{% endblock content %}
