{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
          <i class="nav-icon fas fa-users"></i>
          <b>User List</b>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Date Joined</th>
              <th scope="col">Last Login</th>
              <th scope="col">Role</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for user in user_list %}
              <tr>
                <th>
                  <a href="{% url 'users:update' user.pk %}">
                    {{ user.username }}
                  </a>
                </th>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.last_login }}</td>
                <td>{{ user.role }}</td>
                <td>
                  <a
                    href="#"
                    class="btn btn-danger"
                    onclick="document.getElementById('delete-{{ forloop.counter }}').submit()"
                  >
                    Delete
                  </a>
                </td>
              </tr>
              <form
                action="{% url 'users:delete' user.pk %}"
                id="delete-{{ forloop.counter }}"
                method="post"
                style="display:none"
              >
              {% csrf_token %}
              </form>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
